
/*Cesca's Code*/

body {
    background-color: darkorange;
}

#fridgeLogo {
    height: 8vh;
    width: auto;
    margin: 25px 20px 20px 30px;
}

#gitLogo {
    height: 8vh;
    width: auto;
    margin-left: 5px;
}

.navmenu {
    overflow: hidden;
    background-color: darkorange;
    font-family: 'Bungee', cursive;
    height: 15vh;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid orangered;
}

.navmenu a {
    float: right;
    display: block;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.navmenu a:hover {
    color: orangered;
}

.header {
    height: 80vh;
    width: 100%;
    background-image: url("images/culinary.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center left;
}

#motto {
    color: white;
    margin: auto;
    max-width: 580px;
    font-size: 58px;
    text-shadow: -1px -3px 13px black;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    padding-top: 20%;
}

#mottoMobile {
    color: white;
    margin: auto;
    max-width: 300px;
    font-size: 35px;
    text-shadow: -1px -3px 13px black;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    padding-top: 50%;
}

.footer {
    overflow: auto;
    background-color: darkorange;
    font-family: 'Bungee', cursive;
    height: 40vh;
    color: white;
    padding: 0px 8vw;
    /*display: flex;*/
    /*justify-content: space-around;*/
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipeArea {
    height: 500px;
    width: 90vw;
    border: 1px solid lightgrey;
    display: inline-block;
    overflow: scroll;
    background-color: papayawhip;

}

li a{
    color: white;
    font-size: large;

}

li a:hover {
    color: red;
    text-decoration: none;
}

.githubLinks > ul li {
    list-style: none;
    padding: 2px;
     /*text-align: center;*/
 }

.studentLogos .githubLinks #gitLogo {
    text-align: center;
}

#mainLogo {
    height: 34vh;
    width: auto;
    padding-top: 30px;
    padding-left: 10vw;
    padding-bottom: 15px;
}

/*Krystal's Code*/
.carousel_container {
    width: 50%;
}
.carousel_container .hidden{
    display: none;
}
.carousel-control {
    width: 5%;
}

/* peter css */
.drinkList {
    display: none;
    border: 1px solid black;
}

.drinkIng {
    display: none;
    border: 1px solid black;
}

.drinkIng div {
    border: 1px solid black;
}

.photoImg {
    height: 200px;
    width: 200px;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.carousel_container {
    margin: auto;
    border: 6px solid darkorange;
    border-radius: 10px;
}

#video0 {
    background-color: darkorange;
}

/* PROSITH CSS */
.recipeList {
    display: none;
    border: 1px solid black;
}
.recipe{
    display: none;
    border: 1px solid black;
}

