body {
    background-color: lightsalmon;
}

ul > li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: white;
}

/* NAVBAR */
.navbar {
    font-family: 'Bungee', cursive;
}

.custom-nav {
    margin-bottom: 1px;
    background-color: lightsalmon;
}

.nav-left > img {
    height: 50px;
}

.nav-left > p {
    display: inline;
    color: white;
    padding-left: 15px;
    margin: 0;
}

.dropdown-menu {
    background-color: lightsalmon;
}

.dropdown-menu > li {
    text-align: center;
}

.nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: white;
    color: lightsalmon;
}

#main-nav {
    padding-top: 5px;
}

.mobile-nav {
    height: 10vh;
}

.nav-toggle {
    position: relative;
    float: right;
    margin: 1px 10px;
}

/* WELCOME */
.welcome {
    height: 50vh;
    width: 100%;
    background-image: url("images/culinary.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    padding: 1% 0;
    display: flex;
}

.welcome > h1 {
    color: white;
    margin: auto;
    text-shadow: -1px -3px 13px black;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}

.welcome > h1 b {
    color: lightsalmon;
}

/* MAIN CONTENT */
.recipe-area {
    height: 700px;
    width: 90vw;
    border: 1px solid lightgrey;
    overflow: auto;
    background-color: papayawhip;
}

.drink-container, .food-container {
    border: 1px solid black;
    height: auto;
}

.drink-container > h3, .drink-container > form, .food-container > h3, .food-container > form {
    text-align: center;
}







.content {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.student-logos {
    text-align: center;
}

#main-logo {
    height: 34vh;
    width: auto;
    padding-top: 30px;
    padding-left: 10vw;
    padding-bottom: 15px;
}

.carousel-container {
    width: 60%;
    margin: auto;
    border: 6px solid lightsalmon;
    border-radius: 10px;
}
.carousel-container .hidden{
    display: none;
}
.carousel-control {
    width: 5%;
}
.carousel-inner {
    background-color: lightsalmon;
}

.drink-list {
    display: none;
}

.drink-ing {
    display: none;
}

.drink-list li {
    display: table;
    margin:auto;
}

.drink-list ul {
    padding: 0;
}

.mouse-hover {
    cursor: pointer;
}

.photo-img {
    height: 300px;
    width: 300px;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.carousel-container {
    margin: auto;
    border: 6px solid lightsalmon;
    border-radius: 10px;
}

#video0 {
    background-color: lightsalmon;
}

.drink-list, .drink-ing {
    font-family: 'Quicksand', sans-serif;
}

.recipe-list {
    display: none;
    display: inline-block;
}
.recipe{
    display: none;
}





/* FOOTER */
.footer {
    font-family: 'Bungee', cursive;
    height: 10vh;
    color: white;
}

#git-logo {
    height: 5vh;
}

.github-links {
    margin-top: 40px;
}

.footer h3 {
    text-align: center;
}

.github-links > li {
    display: inline;
}

.github-links > li a {
    padding: 20px;
}

.github-links > li a:hover {
    text-decoration: none;
    color: lightsalmon;
    background-color: white;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .nav-left {
        display: none;
    }

    .github-links {
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
}
